body {
	background-color: #F6F8F9;
	padding-top: 44px;
}
.wrapper {
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
}
.logo {
	display: inline-block;
	margin-top: 18px;
	margin-left: 20px;
	font-size: 13px;
	color: #FA6980;
	text-transform: uppercase;
	font-family: 'Helvetica';
	font-weight: bold;
}
.nav {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	margin-top: 20px;
	text-transform: uppercase;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 14px;
}
.avatar {
	display: inline;
	margin-left: 40px;
	margin-top: 11px;
}
.margin-li1 {
	margin-left: 92px;
}
.margin-li2 {
	margin-left: 27px;
}
.margin-li3 {
	margin-left: 22px;
}
.li-a1 {
	color: #343638;
}
.li-a {
	color: #343638;
	opacity: 50%;
}

/*section I*/

.heading {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
h2 {
	font-family: 'Helvetica';
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #202124;
}
.section {
	width: 1160px;
	margin:0  auto;
}
.main {
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
	display: inline-block;
	margin-top: 40px;
}
.article-p {
	width: 280px;
	height: 38px;
	vertical-align: center;
	margin-left: 40px;
	margin-top: 66px;
	font-family: 'Acumin Pro';
	font-size: 13px;
	color: #A6ADB4;
}

.center-div {
	margin-left: 40px;
}
.right-div {
	margin-left: 40px;
}
.img {
	position: relative;
	z-index: 1;
	display: inline-block;
}
.img-text {
	position: absolute;
	top: 28px;
	left: 40px;
	color: #FFFFFF;
}
.clock-icon {
	margin-top: 10px;
	margin-left: 40px;
}
.time {
	font-family: 'Acumin Pro';
	font-size: 13px;
	color: #A6ADB4;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}


/*section II*/

.first-block {
	width: 760px;
	display: inline-block;
	margin-top: 40px;
}
.img-bridge {
	margin-bottom: 40px;
}
.second-block {
	width: 360px;
	display: inline-block;
	margin-top: 40px;
	margin-left: 40px;
}
.img-elephant {
	margin-bottom: 102px;
}
.img-bird {
	margin-bottom: 102px;
}
.img-road {
	margin-bottom: 62px;
}

/*footer style*/
footer {
	background-color: #A6ADB4;
}

.footer-divs {
	width: 1160px;
	height: 200px;
	padding-top: 56px;
	padding-bottom: 60px;
	margin:0 auto;
}
.footer-logo, .ul, .footer-p, .div-icons {
	display: inline-block;
	vertical-align: top;
}
.footer-a, .footer-p {
	font-family: 'Helvetica';
	font-size: 13px;
	color: #CBD0D3;
	text-transform: capitalize;

}
.footer-logo {
	font-family: 'Acumin Pro';
	font-size: 13px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
.first-ul {
	margin-left: 89px;
	margin-right: 98px;
}
.third-ul {
	margin-left: 110px;
	margin-right: 105px;
}
.footer-p {
	margin-right: 80px;
}
.li {
	margin-bottom: 8px;
}
.icon {
	margin-right: 15px;
}